@import "tailwindcss";

@theme {
  --color-void: #0d0b0b;
  --color-panel: #171313;
  --color-mars: #a61c2e;
  --color-mars-bright: #e14b3d;
  --color-text: #ece7e0;

  --font-display: "Chakra Petch", sans-serif;
  --font-body: "Sora", sans-serif;
}

body {
  background: var(--color-void);
  color: var(--color-text);
  font-family: var(--font-body);
}